<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label>{{ details.id }}</ion-label>
        <!-- <ion-card >
           <ion-img [src]="details.url"></ion-img> -->
        <!-- </ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ details.id }}</ion-card-subtitle>
          <ion-card-title>{{ this.details.title }}</ion-card-title>
        </ion-card-header> -->
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
